---
permalink: /404.html
layout: default
---

<section class="container-ns mv5">
  <div class="pa3 pa4-ns ba bw1 b--accent">
    <div class="flex flex-column flex-row-l">
      <div class="w-50-ns">
        <h1 class="flex flex-column flex-row-ns mt0 mb4">
          <span class="accent mr3 mb2 mb-ns fw3">404</span>
          <span class="secondary fw3">Page not found</span>
        </h1>
      </div>
      <div class="w-50-ns items-center pb3">
        <h3 class="mono f5 fw4 ttu mt3">Υπηρεσιες</h3>
        <div class="flex flex-column gap3">
          {%for service in site.services%}
          <a href="{{ service.url }}" class="link b--brand lh-title dim">
            {{ service.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
