<div class="container pv4 pv6-nd bg-brand flex justify-center">
  <div class="flex flex-column flex-row-l items-center bg-white mw-100">
    <img src="/assets/images/cta-left.svg" class="mr4 dn db-l" alt="cta" />
    <div class="pa4 flex flex-column justify-center primary">
      <h2 class="f3 fw5 mv0">{{ site.data.cta.heading.title }}</h2>
      <p class="lh-copy secondary">{{ site.data.cta.content.content }}</p>
      <div class="flex items-center flex-wrap mt3">
        <a
          href="{{ site.data.cta.link1.url }}"
          class="ttu border-button-brand ph3 pv2 mono b nowrap mr4 mb3 link dim"
          >{{ site.data.cta.link1.title }}</a
        >
        <a
          href="{{ site.data.cta.link2.url }}"
          class="ttu border-bottom-brand dim mono b nowrap-ns mb3 link"
          >{{ site.data.cta.link2.title }}</a
        >
      </div>
    </div>
    <img src="/assets/images/cta-right.svg" class="ml4 dn db-l" alt="cta" />
    <img src="/assets/images/cta-bottom.svg" class="dn-l" alt="cta" />
  </div>
</div>