<footer class="container pt6 pb4 secondary">
  <div class="flex flex-column flex-row-l items-end-l">
    <div class="w-50-l flex mb3 mb0-l">
      <img
        src="/assets/images/cid-logo.svg"
        alt="CID Logo"
        width="302"
        height="37"
      />
    </div>

    <div class="flex flex-column flex-row-l items-end fw3 w-50-l">
      <a href="tel:+306912345678" class="f4 w-50-l mb3 mb0-l link dim">
        <span class="o-60">+30</span> 69 1234 5678
      </a>
      <a href="mailto:info@cid-studies.com" class="f4 w-50-l link dim">
        info@cid-studies.com
      </a>
    </div>
  </div>

  <hr />

  <div class="flex flex-column flex-row-l items-end-l">
    <div class="w-50-l f4-ns fw5 mb3 mb0-l">
      Chemical Infrastructure Development Studies
    </div>
    <div class="w-50-l f4-ns">Φανταστική Οδός 36, 155 60 Αθήνα</div>
  </div>

  <hr />

  <div class="flex flex-column flex-row-l items-start">
    <div class="flex flex-column flex-row-ns w-100 w-50-l">
      <div class="flex flex-column w-50-ns mr3-ns">
        <h3>ΕΤΑΙΡΕΙΑ</h3>
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Επικοινωνία</a
        >
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Σχετικά με εμάς</a
        >
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Πολιτική Ποιότητας</a
        >
        <a href="#" class="mb3 no-underline brand underline-hover">Νέα</a>
      </div>
      <div class="flex flex-column w-50-ns mr3-l">
        <h3>ΥΠΗΡΕΣΙΕΣ</h3>
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Ίδρυση & Αδειοδότηση</a
        >
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Μελέτες & υλοποίηση λύσεων</a
        >
        <a href="#" class="mb3 no-underline brand underline-hover"
          >Περιβαλλοντικές Υπηρεσίες</a
        >
      </div>
    </div>
    <div class="flex flex-column w-100 w-50-l">
      <h3>ΤΟΜΕΙΣ</h3>
      <div class="mb3">
        Εγκαταστάσεις Επεξεργασίας Λυμάτων (Βιολογικοί Καθαρισμοί)
      </div>
      <div class="mb3">
        Αντλιοστάσια και εγκαταστάσεις αποχετευτικών δικτύων
      </div>
      <div class="mb3">Εγκαταστάσεις επεξεργασίας βιομηχανικών αποβλήτων</div>
    </div>
  </div>

  <hr />

  <div class="flex flex-column flex-row-l items-start">
    <div class="w-50-l o-70 mb3 mb0-l">
      © 2019–2025 | Chemical Infrastructure Development Studies
    </div>
    <div class="w-100 w-50-l flex justify-between">
      <a href="" class="link underline-hover">LinkedIn</a>
      <a href="" class="link primary dim">Privacy Policy</a>
    </div>
  </div>
</footer>
