<div class="container-width">
  <nav class="flex items-center justify-between pl3">
    <a href="/" class="flex w5 mr3 grow">
      <img
        src="/assets/images/cid-logo.svg"
        alt="CID Logo"
        width="302"
        height="37"
      />
    </a>
    <div class="navlinks">
      {% for link in site.data.navlinks %}
      <a
        href="{{ link.url }}"
        class="hover-black underline-hover {{ link.class }}"
      >
        {{ link.title }}
      </a>
      {% endfor %}
    </div>
    <a href="/menu" class="pa2-5 bg-brand menu link" role="button">menu</a>
    <div class="menu-open">
      {% for link in site.data.navlinks %}
      <a href="{{link.url}}" class="pa2-5 {{link.class}}">{{link.title}}</a>
      {% endfor %}
    </div>
  </nav>
</div>
