---
---

$brand: #1928aa;
$text-primary: #152722;
$text-secondary: #415651;
$accent: #00a69d;
$stat-color: #a9c866;
$stat-highlight: #7dd2f0;
$container: 1470px;
$bg-secondary: #f5f8f5;

html {
  scroll-behavior: smooth;
}


body {
  font-family: Manrope, sans-serif;
  color: $text-primary;
}

.primary {
  color: $text-primary;
}

.secondary {
  color: $text-secondary;
}

.b--brand {
  border-color: $brand;
}

.container-width {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
}

.container,
.container-ns {
  max-width: $container;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  color: $brand;
}

.accent {
  color: $accent;
}

.bg-accent {
  background-color: $accent;
}

.bg-stat {
  background-color: $stat-color;
}

.bg-highlight {
  background-color: $stat-highlight;
}

.bg-brand {
  background-color: $brand;
  color: white;
}

nav {
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  border-bottom: 1px solid $brand;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 14px;

  & a {
    text-decoration: none;
    color: $brand;

    &.bg-brand {
      color: white; // Override the color for bg-brand links
    }
  }
}

a {
  color: $brand;
}

.pa2-5 {
  padding: 20px;
}

.menu {
  display: none;
}

.menu-open {
  display: none;

  & a {
    text-decoration: none;
    color: $brand;

    &.bg-brand {
      color: white; // Override the color for bg-brand links
    }
  }

  &.is-active {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
  }
}
hr {
  margin: 1.5rem 0;
  border: none;
  border-top: 1px solid rgba($brand, 0.2);
}

footer h3 {
  font-family: "JetBrains Mono";
  font-size: 16px;
  text-transform: uppercase;
}

input,
select {
  height: 2.5rem;
}

textarea {
  min-height: 150px;
}

button {
  background: #00867F;
  border: none;
}

/* TACHYONS -NS */
@media (max-width: 50em) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container-ns {
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }
}

.colored-divider {
  height: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  gap: 2em 2em;
  // grid-auto-flow: row;
  // grid-template-areas:
  //   ". .";
}

// utility classes

.gap2 {
  gap: 0.5rem;
}
.gap3 {
  gap: 1rem;
}
.gap4 {
  gap: 1.5rem;
}

.bg-secondary {
  background-color: $bg-secondary;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}

.border-bottom-brand {
  border-bottom: 1px solid $brand;
}

.border-button-brand {
  border: 1.5px solid $brand;
}

.b--accent {
  border-color: $accent;
}

.justify-center {
  justify-content: center;
}

.img-cover {
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 40px;
}

article {
  &h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand;
    font-weight: 500;
    margin-top: 1.8em;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.sticky {
  position: sticky;
  top: 0;
}


// CUSTOM BREAKPOINTS
@media screen and (max-width: 1010px) {
  nav {
    position: relative;
  }
  .navlinks {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu-open {
    &.is-active {
      display: flex;
    }
  }
  .menu-open a {
    border-bottom: 1px solid rgba($brand, 0.2);
  }
}

.sticky {
  position: sticky;
}
