---
layout: default
---

<section class="container">
    <div class="pv5 bb b--brand mw7 center">
        <h2 class="brand f2 ma0">{{page.title}}</h2>
    </div>
    <article class="pt2 pb-3 pt4-ns pb6-ns lh-copy mw7 center">
        {{ content }}
    </article>
</section>