---
layout: default
---

<section class="container pv5 flex flex-column flex-row-ns bg-secondary">
    <div class="flex flex-column w-third-l">
        <div>
            <p class="lh-copy f3 fw7 mono">Chemical Infrastructure Development Studies</p>
        </div>
        <div>
            <p class="lh-copy secondary ttu ma0 pv4">Επικοινωνια</p>
        <div class="flex flex-row items-center pb2">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim" href="tel:+30 69 1234 5678">+30 69 1234 5678</a>
        </div>
        <div class="flex flex-row items-center pb4">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim" href="mailto:info@cid-studies.com">info@cid-studies.com</a>
        </div>

        <div class="ma0 pb4">
            <p class="lh-copy secondary ttu ma0">ωραριο</p>
            <p class="lh-copy">Δευτέρα–Παρασκευή / 10:00–18:00</p>

        </div>

        <div>
            <p class="lh-copy secondary ttu ma0">διευθυνση</p>
            <p class="lh-copy">Φανταστική Οδός 36, 155 60 Αθήνα</p>
        </div>
    </div>
    </div>
    <div class="flex flex-column w-two-thirds-l">
        <div>
            <h1>Επικοινωνία</h1>
            <p>
                Η Chemical Infrastructure Development Studies ιδρύθηκε το 2019, έχοντας ως όραμα την παροχή ολοκληρωμένων συμβουλευτικών υπηρεσιών στις επιχειρήσεις, με στόχο τη διαρκή εκπλήρωση των αναγκών τους και την ενίσχυση της βιώσιμης ανάπτυξής τους.
            </p>
        </div>
        <form class="flex flex-column">
            <div class="mb3">
                <label for="name" class="db fw6 lh-copy">Όνομα *</label>
                <input type="text" id="name" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" required>
            </div>
            <div class="mb3">
                <label for="_1" class="db fw6 lh-copy">Εταιρεία *</label>
                <input type="text" id="_1" name="_1" class="input-reset ba b--black-20 pa2 mb2 db w-100" required>
            </div>
            <div class="mb3">
                <label for="_2" class="db fw6 lh-copy">Θέση στην εταιρεία *</label>
                <input type="text" id="_2" name="_2" class="input-reset ba b--black-20 pa2 mb2 db w-100" required>
            </div>
            <div class="mb3">
                <label for="_3" class="db fw6 lh-copy">Τηλέφωνο</label>
                <input type="tel" id="_3" name="_3" class="input-reset ba b--black-20 pa2 mb2 db w-100" required>
            </div>
            <div class="mb3">
                <label for="email" class="db fw6 lh-copy">Email *</label>
                <input type="email" id="email" name="email" class="input-reset ba b--black-20 pa2 mb2 db w-100" required>
            </div>
            <div class="mb3">
                <label for="_4" class="db fw6 lh-copy">Μήνυμα *</label>
                <textarea id="_4" name="_4" class="input-reset ba b--black-20 pa2 mb2 db w-100" required></textarea>
            </div>
            <button type="submit" class="f6 link dim br3 ba ph3 pv2 mb2 dib white bg-accent">ΑΠΟΣΤΟΛΗ</button>
        </form>
    </div>
</section>