---
layout: default
---

<section class="container-ns flex flex-column-reverse flex-row-l">
  <!-- Left Content -->
  <div class="w-100 w-50-l pa3 pb4 pr5-l pv5-l flex flex-column justify-center">
    <h1 class="f3 f2-ns brand fw5 mt0-l mb4 lh-title">
      {{ site.data.hero.title }}
    </h1>

    <p class="lh-copy mv0 secondary">{{ site.data.hero.description }}</p>

    <div class="flex items-center flex-wrap mv4">
      <a
        href="{{ site.data.hero.cta_url }}"
        class="ttu border-button-brand ph3 pv2 mono b nowrap mr4 link dim"
        >{{ site.data.hero.cta_text }}</a
      >
      <a
        href="{{ site.data.hero.company_url }}"
        class="ttu border-bottom-brand dim mono b nowrap-ns link"
        >{{ site.data.hero.company_text }}</a
      >
    </div>
  </div>

  <div class="w-100 w-50-l">
    <div
      class="h5 h-100-l cover bg-center"
      style="background-image: url('/assets/images/hero-image.png')"
    ></div>
  </div>
</section>

<div class="container bg-yellow">
  <div class="pa2 dn-ns">Mobile Default</div>
  <div class="pa2 dn db-ns dn-l">Medium -NS</div>
  <div class="pa2 dn db-l">Desktop -L</div>
</div>

{% include services.html %} {% include cta.html %} {% include sectors.html %}
