---
layout: default
---

<section class="container-width flex flex-column flex-row-l">
  <!-- Left Content -->
  <div class="w-100 w-50-l pa3 pa4-ns flex flex-column justify-center">
    <h1 class="f3 f2-ns brand fw5 mt0-l mb4 lh-title">
      {{ site.data.index.title[page.lang] }}
    </h1>

    <p class="lh-copy mv0 secondary">{{ site.data.index.description[page.lang] }}</p>

    <div class="flex items-center flex-wrap mv4">
      <a
        href="/{{page.lang}}/{{ site.data.index.cta_url }}"
        class="ttu border-button-brand ph3 pv2 mono b nowrap mr4 link dim"
        >{{ site.data.index.cta_text[page.lang] }}</a
      >
      <a
        href="/{{page.lang}}/{{ site.data.index.company_url }}"
        class="ttu border-bottom-brand dim mono b nowrap-ns link"
        >{{ site.data.index.company_text[page.lang] }}</a
      >
    </div>
  </div>

  <div class="w-100 w-50-l">
    <div
      class="h6 cover bg-center"
      style="background-image: url('/assets/images/hero-image.webp')"
    ></div>
  </div>
</section>

{% comment %}
<div class="container bg-yellow">
  <div class="pa2 dn-ns">Mobile Default</div>
  <div class="pa2 dn db-ns dn-l">Medium -NS</div>
  <div class="pa2 dn db-l">Desktop -L</div>
</div>
{% endcomment %} 

{% include services.html %} 

{% include sectors.html %}

<section class="container-width flex flex-column flex-row-l bt-l b--brand">
  <div class="w-50-l pb5 pa3 pa4-ns pr5-l">
    <h2 class="f2 fw5 mt0 mb5 mb7-l">{{ site.data.index.case-study.title[page.lang] }}</h2>
    <div class="grid">
      {% assign case_study = site.pages | where: "name", "case-study.md" | first
      %} {% for stat in case_study.stats %}
      <div class="flex flex-column bt bw2 b--green">
        <div class="secondary fw5 mt3 mb2">{{ stat.title }}</div>
        <div class="fw5 f1">{{ stat.stat }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="w-50-l bl-l b--brand flex flex-column pa3 pa0-l">
    <div
      class="w-100 vh-50 h-100-l cover bg-center"
      style="background-image: url('/assets/images/plant.webp')"
    ></div>
    <div class="mv4 mv0-l pa4-l">
      <p class="lh-copy secondary fw5 mt0">
        {{ site.data.index.case-study.description[page.lang] }}
      </p>
      {% if site.data.index.case-study.text and
      site.data.index.case-study.cta_url %}
      <a
        href="{{ site.data.index.case-study.cta_url }}"
        class="b nowrap mr4 mt4 link dim bb bw2 b--brand f5 fw7"
      >
        {{ site.data.index.case-study.text }}
      </a>
      {% endif %}
    </div>
  </div>
</section>

<section class="container-width flex flex-column flex-row-l bt-l bb-l b--brand">
  <div class="w-50-l flex items-center bg-secondary">
    <img class="w-100" src="/assets/images/graphic.svg" />
  </div>
  <div
    class="w-50-l ph3 ph0-ns pa4-l flex flex-column justify-between h-auto bt bt-0-l bl-l b--brand"
  >
    <h2 class="f2 fw5 mv5 mt0-l">{{ site.data.index.company.title[page.lang] }}</h2>
    <div>
      <div class="pb3 pb4-l">
        <a
          href="/{{page.lang}}/{{ site.data.index.about.cta_url }}"
          class="b nowrap mr4 link dim bb bw2 b--brand f4 fw7"
          >{{ site.data.index.about.cta_text[page.lang] }}</a
        >
        <p class="lh-copy secondary fw5">
          {{ site.data.index.about.description[page.lang] }}
        </p>
      </div>
      <div>
        <a
          href="/{{page.lang}}/{{ site.data.index.quality-policy.cta_url }}"
          class="b nowrap mr4 link dim bb bw2 b--brand f4 fw7"
          >{{ site.data.index.quality-policy.cta_text[page.lang] }}</a
        >
        <p class="lh-copy secondary fw5">
          {{ site.data.index.quality-policy.description[page.lang] }}
        </p>
      </div>
    </div>
  </div>
</section>

{% include news.html %}
