---
layout: default
---

<section class="container pv5">

    <div class="mb5 bg-secondary pa4">
        <div class="flex flex-column flex-row-l items-start items-center-l gap3">
            <div class="f4 fw5 secondary o-50 w4">03/02/2025</div>
            <h2 class="f3 fw5 ma0">Όλα όσα πρέπει να ξέρετε για τους νέους περιβαλλοντικούς κανονισμούς της ΕΕ</h2>
            <div class="dn db-l flex-auto bg-black-10 bar"></div>
            <a class="b-brand bb bw2 pb2 link nowrap" href="https://google.com">example.com -></a>
        </div>
        <div class="fw5 secondary lh-copy list flex flex-column flex-row-l items-start items-center-l gap3">
            <div class="w4 flex-shrink-0">g</div>
            <p>Σας βοηθάμε να βελτιστοποιήσετε τις διαδικασίες επεξεργασίας νερού και να διαχειριστείτε τη μονάδα σας με πιο αποτελεσματικό και βιώσιμο τρόπο ενόψει των ολοένα και πιο αυστηρών κανονισμών.</p>
        </div>
    </div>
</section>