---
layout: default
---

<section class="container pv5 flex flex-column flex-row-ns">
<div class="w-40-ns min-h-100 br-ns b--brand relative">
  <div class="f3 fw3 mv0 brand sticky-sidebar">
    <div class="ttu mono f5">Υπηρεσιες</div>
    <h1 class="f2 fw5 mv0">{{ page.title }}</h1>
  </div>
  </div>

  <article class="f4 lh-copy mw8 w-60-ns pl5-ns">
    {{ content }}
  </article>
</section>