---
layout: default
---

<section class="container pv5 brand">
  <h1 class="f1 fw5 mv0">Υπηρεσίες</h1>
</section>
<section class="container pv5 bg-secondary">
  <div class="flex flex-column flex-row-l items-start items-center-l gap4 mb3">
    <div class="f2 fw3 mv0 secondary o-50">01</div>
    <h2 class="f2 fw5 mv0">Ίδρυση&nbsp;&&nbspΑδειοδότηση</h2>
    <div class="dn db-l flex-auto bg-black-10" style="height: 1px"></div>
    <a href="" class="link dim b pb2 bb bw2 b--brand nowrap">
      Δείτε&nbsp;αναλυτικά&nbsp;->
    </a>
  </div>
  <div class="f4 fw3 secondary ph5 mw8 lh-copy">
    <p>
      Έγκριση—Γνωστοποίηση Εγκατάστασης / Μελέτη Εκτίμησης Περιβαλλοντικών
      Επιπτώσεων (ΜΠΕ) / Μελέτη και Αδειοδότηση Συστημάτων Επεξεργασίας &
      Διάθεσης Αποβλήτων / Άδεια Δυνατότητας Παραγωγής / Ειδική Άδεια Παραγωγής
    </p>
  </div>
</section>
